:root {
  --primary-color: rgb(155, 89, 182);
  --secondery-color: rgba(155, 89, 182, 0.1);
}

.spotify-login-button-container {
  display: flex;
  background-color: var(--secondery-color);
  border-radius: 0.5rem;
  text-decoration: none;
}

.btn-spotify-login:hover {
  background-color: rgba(155, 89, 182, 0.2);
}

.btn-spotify-login {
  color: var(--primary-color);
  background-color: var(--secondery-color);
  width: 15rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.4rem 1.2rem;
}

.logo-container {
  margin-top: 6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
